@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Roboto;
}

.newForm {
  border: 1px solid black;
  width: 300px;
  padding: 10px;
  margin: 0 auto; 
}

.newForm #email{
  background-color: bisque;
  color:black;
}
.newForm label {
  display: block;
  margin-bottom: 10px; 
}

.newForm select,
.newForm input,
.newForm textarea {
  display: block; 
  width: 100%;
  margin-bottom: 10px; 
  background-color: bisque;
  color:black;
}

.newForm textarea {
  resize: vertical; 
}

.newForm button {
  background-color: tan;
  height: 40px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px; 
}

.newForm #check {
  width: auto;
  margin-right: 5px; 
}